*
!*/
!/Jose/NeverSingAlone/webspeechdemo/**
!.gitignore
../.CFUserTextEncoding
../.RData
../.Rhistory
../.Trash/
../.Xauthority
../.appcfg_oauth2_tokens
../.atom/
../.babel.json
../.bash_history
../.bash_profile
../.bash_profile.pysave
../.bash_sessions/
../.boto
../.bundle/
../.cache/
../.config/
../.cups/
../.dropbox/
../.eclipse/
../.flexlmrc
../.fontconfig/
../.gem/
../.gervill/
../.gitconfig
../.heroku/
../.hgignore_global
../.idlerc/
../.local/
../.mysql_history
../.netrc
../.node_repl_history
../.npm/
../.npmrc
../.nvm/
../.oracle_jre_usage/
../.p2/
../.psql_history
../.rnd
../.rstudio-desktop/
../.serverauth.12154
../.serverauth.13978
../.serverauth.14287
../.ssh/
../.subversion/
../.tooling/
../.v8flags.5.1.281.84.Jose.json
../.vagrant.d/
../.viminfo
../316-final-project/
../316/
../Applications/
../Bio490s/
../Deli Simulation Notes.txt
../Desktop/
../Documents/
../Downloads/
../Dropbox/
../Google Drive/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../PythonSite/
../RStudio Working Directory/
../Swag Email options.txt
../VirtualBox VMs/
../YNSA/
../anaconda3/
../cover letter notes.txt
../da-chat-bot/
../databot/
../dukeenergy.txt
../eclipse-workspace/
../fitted-web/
../git-2.9.0-rc0/
../josebot/
